#relatorioUnificado {
    border-bottom: solid 2px #ffffff;
    color: #fff;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.64);
}

.registro {
    padding: .5rem 0;
    width: 100%;
    height: auto;
}

.despesa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #d8d8d870;
    color: #000;
    text-align: justify;
    justify-content: space-between;
}

#botaoRecuperarDespesas {
    position: absolute;
    bottom: 15px;
    right: 15px;
}